<ion-view title="About Us">
    <ion-content padding="true" class="has-footer">
        <div class="transparent">
            <h2>
                Table & Chair
            </h2>
            <div>
                <p>
                    &nbsp;This is a brief description about us. 
                    <h4>
                        Why choose us
                    </h4>
                    Table &amp; Chair offers a great service. dsjfhlks csdjgcvd cud,n cjhd dsjbc jdf dh bnjfb
                </p>
            </div>
        </div>
        <br>
        <ion-list type="card">
            <a href="https://twitter.com/" class="item item-icon-left" target="_blank"> <i class="icon ion-social-twitter"></i> Twitter profile </a>
            <a href="https://www.facebook.com/" class="item item-icon-left" target="_blank"> <i class="icon ion-social-facebook"></i> Facebook page </a>
            <a href="https://www.linkedin.com" class="item item-icon-left" target="_blank"> <i class="icon ion-social-linkedin"></i> LinkedIn profile </a>
        </ion-list>
        <div class="transparent m-top text-center">
            <div id="share6"></div>
        </div>
        <script>
$('#share6').jsSocials({
	shares: [{ share: "email", logo: "ion-email"},{ share: "twitter", logo: "ion-social-twitter"},{ share: "facebook", logo: "ion-social-facebook"},{ share: "googleplus", logo: "ion-social-googleplus"},{ share: "linkedin", logo: "ion-social-linkedin"},{ share: "pinterest", logo: "ion-social-pinterest"}],
	url: window.location.href,
	text: "My Restaurant - About Us",
	showLabel: true,
	showCount: false
});
$(".jssocials").css("font-size", "14px");
</script>
    </ion-content>
</ion-view>