<ion-view title="Content">
    <ion-content padding="true" class="has-footer">
        <div class="transparent">
            <div>
                <h3>
                    This is the title
                </h3>
                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
                <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
                <p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
            </div>
        </div>
        <div class="transparent m-top text-center">
            <div id="share8"></div>
        </div>
        <script>
$('#share8').jsSocials({
	shares: [{ share: "email", logo: "ion-email"},{ share: "twitter", logo: "ion-social-twitter"},{ share: "facebook", logo: "ion-social-facebook"},{ share: "googleplus", logo: "ion-social-googleplus"},{ share: "linkedin", logo: "ion-social-linkedin"},{ share: "pinterest", logo: "ion-social-pinterest"}],
	url: window.location.href,
	text: "My Restaurant - Content",
	showLabel: true,
	showCount: false
});
$(".jssocials").css("font-size", "14px");
</script>
    </ion-content>
</ion-view>